
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="overview-wrap">
                <h2 class="title-1">anasayfa</h2>
                <button class="au-btn au-btn-icon au-btn--blue">
                    <i class="zmdi zmdi-plus"></i>İstatistikler
                </button>
            </div>
        </div>
    </div>
    <div class="row m-t-25">
        <div class="col-sm-6 col-lg-4">
            <div class="overview-item overview-item--c1">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div class="icon">
                            <i class="zmdi zmdi-account-o"></i>
                        </div>
                        <div class="text">
                            <h2>@ViewBag.DefterSayisi</h2>
                            <span>Defter Sayısı</span>                <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="overview-item overview-item--c2">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div class="icon">
                            <i class="zmdi zmdi-shopping-cart"></i>
                        </div>
                        <div class="text">
                            <h2>@ViewBag.GunlukSayisi</h2>
                            <span>Günlük Sayısı</span>                <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="overview-item overview-item--c1">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div class="icon">
                            <i class="zmdi zmdi-account-o"></i>
                        </div>
                        <div class="text">
                            <h2>@ViewBag.DuyuruSayisi</h2>
                            <span>Duyuru Sayısı</span>                <br />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <div class="card border border-secondary">
                <div class="card-header">
                    <strong class="card-title">Merhaba</strong>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Merhaba. Paneline Hoşgeldin @ViewBag.KullaniciAdi
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card border border-secondary">
                <div class="card-header">
                    <strong class="card-title">Defterlerim</strong>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Şimdiye Kadar @ViewBag.DefterSayisi Tane Defter Oluşturdun.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card border border-secondary">
                <div class="card-header">
                    <strong class="card-title">Günlüklerim</strong>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Şimdiye Kadar @ViewBag.GunlukSayisi Tane Günlük Yazdın.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card border border-secondary">
                <div class="card-header">
                    <strong class="card-title">Duyurular</strong>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Sistemde @ViewBag.DuyuruSayisi Tane Duyuru Var.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="card border border-secondary">
        <div class="card-header">
            <strong class="card-title">İletişim</strong>
        </div>
        <div class="card-body">
            <p class="card-text">
                Sistemle İlgili Herhangi Bir Hata Ve Eksiklik Durumunda Bizimle Aşağıdaki Adres İle İletişim Kurabilirsin.<br />
                hata@gunlukapp.com
            </p>
        </div>
    </div>
    <br />

</div>

