@model ReflectionIT.Mvc.Paging.IPagingList<Articles>
@using ReflectionIT.Mvc.Paging
@addTagHelper *,ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Incele";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2 class="text-center animated fadeIn">@ViewBag.DiaryName</h2>
<a href="/PanelDefterler/GunlukEkle/@ViewBag.DiaryId" class="btn btn-info animated fadeIn"><i class="fa fa-sticky-note"></i> Yeni Günlük Ekle</a>
<a href="/PanelDefterler/Guncelle/@ViewBag.DiaryId" class="btn btn-success float-right animated fadeIn"><i class="fa fa-wrench"></i> Defteri Düzenle</a>
<hr />

@if (TempData["GunlukEkleMesaji"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["GunlukEkleMesaji"]
    </div>
}
@if (TempData["GunlukDuzenleMesaji"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["GunlukDuzenleMesaji"]
    </div>
}


@if (Model.Count() > 0)
{
    <div class="row animated fadeIn">

        <div class="table-responsive table--no-card m-b-30 text-center">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th>Günlük </th>
                        <th>Tarih </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="/PanelDefterler/GunlukOku/@item.Id">
                                    @if (item.Title.Length > 30)
                                    {
                                        @item.Title.Substring(0, 30)<span>...</span>
                                    }
                                    else
                                    {
                                        @item.Title
                                    }
                                </a>
                            </td>
                            <td><a href="/PanelDefterler/GunlukOku/@item.Id" class="btn btn-success"><i class="fa fa-search" aria-hidden="true"></i> Oku</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="container text-center">
            <br />
            @for (var p = 1; p <= Model.PageCount; p++)
            {
                <a href="@Url.Action("Incele", new { sayfa = p })" class="btn btn-info page-item">@p</a>
            }
        </div>
    </div>
}
else
{
    <div class="card text-center">
        <div class="card-header">
            <strong class="card-title">
                Eklenmiş Günlük Bulunamadı
            </strong>
        </div>
        <div class="card-body">
            <p class="card-text">
                Şimdiye Kadar Herhangi Bir Günlük Eklememişsin...
            </p>
        </div>
    </div>
}


